<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>


<form action="" method="post"> {% csrf_token %} 
    
  {{ form.as_p}}
     <!-- <p>Titulo : <input type="text" name="titulo"></p>
     <p>Autor : <input type="text" name="autor"></p>
     <p>Contenido : <input type="text" name="contenido"></p> -->
    
    <input type="submit" , value="Enviar"> 
  

 </form>

</body>
</html>