{% extends 'AppCuentos/base.html' %}

{% block titulo %}
  Mis Cuentos - CuentoVisión
{% endblock %}

{% block contenido %}
  <div class="container my-4">
    <h2 class="text-center mb-4">Tus Cuentos</h2>
    <table class="table cuentos-table">
      <thead class="thead-dark">
        <tr>
          <th>Título</th>
          <th>Resumen</th>
          <th>Autor</th>
          <th>Puntuacion</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for cuento in object_list %}
          <tr>
            <td>{{ cuento.titulo }}</td>
            <td>{{ cuento.contenido|truncatewords:30 }}</td>
            <td>{{ cuento.autor }}</td>
            <td>{{ cuento.puntuacion }}</td>
      
            <td>
              <a href="{% url 'DetalleCuento' cuento.id %}" class="btn btn-info btn-sm">Ver</a>
              <a href="{% url 'EditarCuento' cuento.id %}" class="btn btn-warning btn-sm">Editar</a>
              <a href="{% url 'EliminarCuento' cuento.id %}" class="btn btn-danger btn-sm">Eliminar</a>
            </td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="3" class="text-center">No hay cuentos disponibles.</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="text-center">
      <a href="{% url 'New' %}" class="btn btn-success">Agregar un cuento</a>
    </div>
  </div>
{% endblock %}
