{% extends 'AppCuentos/base.html' %}

{% block titulo %}
  {{ cuento.titulo }} 
{% endblock %}

{% block contenido %}
  <div class="cuento-container">
    <h1>Titulo : {{ cuento.titulo }}</h1>
    <h3 class="autor">Autor: {{ cuento.autor }}</h3>
    <h3 class="cuento">Cuento: {{ cuento.contenido }}</h3>
    <div class="puntuacion">
      <span>Puntuación: {{ cuento.puntuacion }}</span>
      <!-- Puedes agregar estrellas o una representación gráfica de la puntuación aquí -->
    </div>
    <!-- Aquí puedes agregar más detalles del cuento -->
    <!-- Por ejemplo, una descripción, fecha de publicación, etc. -->
    <a href="{% url 'ListaCuentos'  %}" >Volver</a>
  </div>
{% endblock %}

