{% extends 'AppCuentos/base.html' %}

{% block titulo %}
  Sobre Nosotros - CuentoVisión
{% endblock %}

{% block contenido %}
  <h2>Nuestra Misión</h2>
  <p>En CuentoVisión, nuestra misión es encender la chispa de la creatividad y la imaginación. Proporcionamos una plataforma donde los cuentistas de todas las edades pueden compartir sus historias, aprender de otros y disfrutar de un sinfín de mundos narrativos. Nuestro compromiso es ofrecer una experiencia enriquecedora y accesible para todos los amantes de los cuentos.</p>
  
  <h2>Nuestra Visión</h2>
  <p>Nuestra visión es convertirnos en la comunidad líder en narración digital, donde cada voz puede ser escuchada y cada historia puede ser contada. Aspiramos a construir un espacio inclusivo que celebre la diversidad y la creatividad, impulsando a autores y lectores a conectar a través de la magia de los cuentos.</p>
  
  <h2>Lo que Hacemos</h2>
  <p>En CuentoVisión, unimos a personas con talento para la escritura de todo el mundo. Ofrecemos herramientas que permiten a los usuarios publicar sus cuentos, recibir retroalimentación y participar en desafíos de escritura. Además, nuestra plataforma utiliza la inteligencia artificial para crear "Historias Comunes", una innovadora forma de colaboración narrativa que entrelaza los cuentos más populares en una sola obra maestra.</p>

  <!-- Puedes agregar más secciones según sea necesario -->
{% endblock %}